doctype html 
html
  head
    title ARCHS DANCE ACADEMY 
    block scripts
    block style 
  body
    nav#navbar.top 
        ul
            div#logo
                img(src="/static/images/logo.png ", alt="")
                | ADA 
            li #[a(href='/') Home]
            li #[a(href='/') About]
            li #[a(href='/') Services]
            li #[a(href='/') ClassInfo]
            li #[a(href='/') Contact]
    
    block content 
        
    footer#footer 
        | Copyright © 2021 ARCHS DANCE ACADEMY archiesdance.com  | ALL ARE RESERVED
        
     
        