extends base.pug

block scripts
  script(src='/static/index.js')

block  style 
    style
        include ../static/style.css

block content
        section#introsection 
            div(class='heading1')
                | ARCHS DANCE ACADEMY

            div(class='heading2')
                | Dance is the hidden language of the soul. 

            div(class= 'author')
                | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  – Martha Graham

        section#ourmission 
            h2 OUR MISSION

            div(class="section1")
                div(class="card")
                    h3 Dance Perfection

                    div(class="card-box")
                        div(class="card-img")
                            img(src="/static/images/1.png", alt="")
                        div(class="card-content")
                            p This is the Best dance Academy Of Banglore
                
                div(class="card")
                    h3 Cultural Dance

                    div(class="card-box")
                        div(class="card-img")
                            img(src="/static/images/2.png", alt="")
                        div(class="card-content")
                            p This is the Best dance Academy Of Banglore
                  
                
                div(class="card")
                    h3 Expert Teaching 
                    
                    div(class="card-box")
                        div(class="card-img")
                            img(src="/static/images/3.png", alt="")
                        div(class="card-content")
                            p This is the Best dance Academy Of Banglore
                   
        section( class = "sponsorssection" )
            h2 Sponsers 
            div#sponsers
                img(src="/static/images/logo1.png", alt="Loading" class="spimage")
                img(src="/static/images/logo2.png", alt="Loading" class="spimage")
                img(src="/static/images/logo3.png", alt="Loading" class="spimage")
                img(src="/static/images/logo4.png", alt="Loading" class="spimage")